CONFIG_TARGET_bcm53xx=y
CONFIG_TARGET_bcm53xx_generic=y
CONFIG_TARGET_bcm53xx_generic_DEVICE_phicomm-k3=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-usb-printer=y
CONFIG_PACKAGE_libcap=y
# CONFIG_PACKAGE_libevent2 is not set
CONFIG_PACKAGE_libminiupnpc=y
CONFIG_PACKAGE_libnatpmp=y
CONFIG_PACKAGE_libuv=y
CONFIG_PACKAGE_libwebsockets-full=y
# CONFIG_PACKAGE_luci-app-ddns is not set
CONFIG_PACKAGE_luci-app-guest-wifi=y
CONFIG_PACKAGE_luci-app-p910nd=y
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_fuse-utils is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2 is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server is not set
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-udpxy=y
CONFIG_PACKAGE_luci-app-usb-printer=y
# CONFIG_PACKAGE_luci-app-vsftpd is not set
CONFIG_PACKAGE_luci-app-wifischedule=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-i18n-guest-wifi-zh-cn=y
CONFIG_PACKAGE_luci-i18n-p910nd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-usb-printer-zh-cn=y
CONFIG_PACKAGE_luci-i18n-wifischedule-zh-cn=y
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=y
CONFIG_PACKAGE_p910nd=y
# CONFIG_PACKAGE_redsocks2 is not set
# CONFIG_PACKAGE_shadowsocksr-libev-server is not set
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_udpxy=y
CONFIG_PACKAGE_v2ray=y
# CONFIG_PACKAGE_vsftpd-alt is not set
CONFIG_PACKAGE_wifischedule=y
CONFIG_PACKAGE_zerotier=y
CONFIG_V2RAY_COMPRESS_UPX=y
CONFIG_V2RAY_EXCLUDE_ASSETS=y
CONFIG_V2RAY_EXCLUDE_V2CTL=y
# CONFIG_TARGET_bcm53xx_generic_DEVICE_asus-rt-ac56u is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_asus-rt-ac68u is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_asus-rt-ac87u is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_asus-rt-n18u is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_buffalo-wxr-1900dhp is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_buffalo-wzr-1750dhp is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_buffalo-wzr-600dhp2 is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_buffalo-wzr-900dhp is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_dlink-dir-885l is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_linksys-ea6500-v2 is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_luxul-abr-4500 is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_luxul-xap-1610 is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_luxul-xbr-4500 is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_luxul-xwr-3150 is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_netgear-r6250 is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_netgear-r6300-v2 is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_netgear-r7000 is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_netgear-r7900 is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_netgear-r8000 is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_smartrg-sr400ac is not set
# CONFIG_TARGET_bcm53xx_generic_DEVICE_tenda-ac9 is not set


